.bd-placeholder-img {
    font-size: .125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  .ddd{
    justify-content: center
  }
  .pricing-header {
    max-width: 700px;
  }

  .mentoring{
    margin-right: 80px;
  }
  .commercial{
    margin-left: 80px;
  }

  .navbar{
      background-color: #2f23f3;
  }

  .adad{
    background-color: #00d0ff;
    height: 500px;
  }

  .homepage-graphic{
      width: 400px;
      height:400px;
  }